*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Nimbus";
    src: url(./assests/NimbusSanL-Regu.ttf) format("truetype");
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Nimbus";
}

#main{
    width: 100%;
}
#home{
    width: 100%;
}
#nav{
    padding: 30px 10vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
#nav #nleft{
    display: flex;
    gap: 3vw;
}
#nav a{
        display: inline-block;

    color: black;
    text-decoration: none;
    font-style: 12px;
    font-weight: 550;
}
#nav #center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#hero{
    width: 100%;
    margin-top: 15vw;
    padding: 30px 10vw;
    margin-top: 15vw;
    padding: 0vw 10vw;
display: flex;
justify-content: space-between;
}
#sustain{
    width: 10vw;
}
#sustain h3{
font-weight: 150;
font-size: 23px;
}
#sustain h5{
font-size: 12px;
}
#sustain p{
font-size: 13px;
margin: 10px 0;
line-height: 1;
}
#sustain #suimagewrapper
{
    width: 100%;
    height: 15vw;

}
#suimagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral{
    width: 25vw;
    min-height: 36vw;
    position: relative;
}
#ephemeral p{
    margin-top: 25px;
    width: 45%;
    font-size: 18px;
    line-height: 1;
}
#ephemeral #headings{
    position: absolute;
    top: -18%;
    left: -20%;
    z-index: 9999;
}
#ephemeral img{
    height: 100%;
    width: 100%;
}
#ephemeral h1{
    font-size: 4.5vw;
    font-weight: 100;
    letter-spacing: -.3vw;
    line-height: 1;
    opacity: 0.8;
}
#circlev{
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid #5e5e5e;
}
#circlev i{
    margin-top: 10px;
    color: #5e5e5e;
}
#visit{
    display: flex;
    gap: 10px ;
    align-items: center;

}
#visit h3{
    color: #5e5e5e;
    font-weight: 100;
    font-size: 14px;
}

#motive{
        padding: 3vw 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7vw;
}
#motive h3{
    font-weight: 100;
    text-transform: capitalize;
    opacity: 0.5;
}
#motive p{
    position: relative;
    right: 0;
    font-size: 1.3vw;
    text-align: right;
    width: 80%;
    line-height: 1.9;
    font-weight: 500;
}
#motive span{
    
    display: inline-block;
    border-radius: 100px;
    margin: 0 10px;
    margin-bottom: -8px;
}
#onespan{
    width: 60px;
    height: 34px;
    background-image: url(./assests/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 50%;
}
#twospan{
width: 90px;
    height: 34px;
    background-image: url(./assests/shaljam.jpg);
    background-size: cover;
    background-position: 0% 50%;

}
#threespan{
width: 60px;
    height: 34px;
     background-image: url(./assests/grass.jpg);
    background-size: cover;
    background-position: 0% 50%;
}

#picture{
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw ;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
}
#firstpic{
width: 17vw;
margin-top: 7vw;
}

#firstpic #picimg{
    width: 17vw;
    height: 24vw;
    margin-bottom: 1vw;
}
#firstpic h2 ,#secpic h2{
    letter-spacing: -.011vw;
}

#firstpic p , #secpic p{
    opacity: 0.7;
    font-size: 14px;
        line-height: 0.9;

}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#secpic p{
    text-align: right;
}
#secpic h2{
    text-align: right;
}
#secpic{
    width: 25vw;

}


#secpic #picimg{
    width: 25vw;
    height: 35vw;
    margin-bottom: 1vw;
}

#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 10vh;
}
#bimg{
    width: 60%;
    height: 70vh;
    background-color: aqua;
}
#bimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 70%;

}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-weight: 200;
    font-size: 2.7vw;
    line-height: 1;
    letter-spacing: -.1;
    opacity: 0.95;
}
#btext p{
    margin-top: 20px;
    font-size: 0.85vw;
}
#future{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;

}

#future video{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

#vtext{
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#vtext button{
    padding: 1vw 1.3vw;
    font-size: .7vw;
    letter-spacing: -.05vw;
    background-color: #fff;
    border-radius: 120px;
    font-weight: 150;
    border: 0.5px solid #5e5e5e;
    margin-top: 1vh;

}
#vtext h1{
    font-weight: 200;
    text-transform: capitalize;
}